<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="/public/css/style.css" type="text/css">
  <title>Universal Chat</title>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper white">
        <a href="#" class="brand-logo center black-text"><i class="material-icons black-text">trip_origin</i></a>
        <ul class="right">
          <li><a href="#"><i class="material-icons black-text">settings</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="chat-box">
    <div class="white-text chat-box-message">
      <p class="chat-box-message-content">
        <span class="user-name">fahad </span>
        <span class="user-message">hello how are you</span>
      </p>
    </div>
  </div>
  <div id="message-box">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="message" placeholder="Message" class="materialize-textarea"></textarea>
        <a id="send" href="#" class="">
          <i class="material-icons black-text">send</i>
        </a>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/ui.js"></script>
  <script src="/public/js/io.js"></script>
  <script src="/public/js/settings.js"></script>
</body>
</html>